// Colors
$primary: #5c62c5;
$dark-grey: #363636;
$light-grey: #d8d8d8;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
$danger: #f14668;
$github: #242a2e;
// Font sizes
$h1: 2.5rem;
$h2: 2rem;
$h3: 1.5rem;
