.btn {
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px;
  transition: color .3s ease;

  &:focus {
    outline: none;
  }

  &:hover {
    color: darken($color: white, $amount: 10);
  }

  &.btn-primary {
    background-color: $primary;
    box-shadow: 2px 2px lighten($color: $primary, $amount: 20);

    &:hover {
      background-color: darken($color: $primary, $amount: 20);
    }

    &:disabled {
      background-color: lighten($color: $primary, $amount: 20);
    }
  }

  &.btn-github {
    background-color: $github;
    box-shadow: 2px 2px lighten($color: $github, $amount: 20);

    &:hover {
      background-color: darken($color: $github, $amount: 20);
    }

    &:disabled {
      background-color: lighten($color: $github, $amount: 20);
    }
  }

  &.btn-block {
    display: block;
    width: 100%;
  }
}

.google-btn {
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  height: 42px;
  margin-top: 5px;
  transition: box-shadow .3s ease;

  width: 100%;

  .google-icon-wrapper {
    background-color: $white;
    border-radius: 2px;
    height: 40px;
    margin-left: 1px;
    margin-top: 1px;
    position: absolute;
    width: 40px;
  }

  .google-icon {
    height: 18px;
    margin-top: 12px;
    width: 18px;
  }

  .btn-text {
    color: $white;
    float: right;
    font-size: 14px;
    letter-spacing: 0.2px;
    margin: 11px 40px 0 0;
  }

  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }

  &:active {
    background: $button-active-blue;
  }
}
